@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    /* width: 140vw; */
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #656565;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0;
    padding: 4px 24px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    flex: 0;
    padding: 20px 24px;
    background: #eeefef;
    position: fixed;
    bottom: 0;
    width: 98%;
}
header .left-links,
footer .left-links {
    display: flex;
    flex-direction: row;
    gap: 26px;
}
ul.left-links {
    padding: 0%;
}
header .right-links,
footer .right-links {
    display: flex;
    flex-direction: row;
    gap: 26px;
}
header > ul.right-links {
    margin-left: 132px;
}
ul.right-links {
    margin-right: 40px;
    padding: 0%;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 180px;
}
img {
    width: 26em;
    height: 10em;
}
button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    font-size: 14px;
    margin: 12px 1px;
    padding: 8px;
}
input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 22rem;
}
